html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Navigation */

.main-nav {
    font-size: 1.5rem;
}

.main-nav a {
    margin-right: 5px;
    color: white;
    text-decoration: none;
}

.header {
    padding: 20px 30px;
    background-color: #8BC34A;
}

/* Search Bar */

.search-div {
    margin: 20px auto;
    width: 30%;
}

.search-input {
    width: 80%;
    border: 1px solid #8BC34A;
    border-radius: 8px;
    height: 20px;
    padding: 10px;
}

.search-btn {
    border: 1px solid #8BC34A;
    border-radius: 8px;
    background-color: #8BC34A;
    height: 42px;
    cursor: pointer;
    color: white;
}

.search-input:focus {
    outline: none;
    text-shadow: none;
}

/* Statement */

.pet-list {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.statement {
    width: 270px;
    margin-right: 30px;
    border: 1px solid #8BC34A;
    margin-bottom: 30px;
}

.statement-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #8BC34A;
    border-top: 3px solid #8BC34A;
    cursor: pointer;
}

.author-info {
    font-size: 0.8rem;
    color: gray;
}

.statement-title {
    text-align: center;
    font-weight: bold;
}